useDynLib(EBSpatCGAL)
exportPattern("^[[:alpha:]]+")
export(
  "%<<%","%<<%.Scene","%<<%.Chainable.Scene",
  "[[","[[.Scene",
  "[[<-","[[<-.Scene",
  "[","[.Scene",
  "[<-","[<-.Scene",
  "[.TermType",

  "%contains%","%contains%.Domain",

  "%when%","%when%.Vertex2d","%when%.Vertex3d","%when%.Segment2d","%when%.Segment3d","%when%.Facet3d",

  .TermTypesInit,
  InteractionMngr,
  ComponentFunctionalFormulaManager
)
S3method("%<<%",Scene)
S3method("[[",Scene)
S3method("[[<-",Scene)
S3method("[",Scene)
S3method("[<-",Scene)
S3method("facets",Delaunay)

S3method("[",TermType)

import( Rcpp )
