useDynLib(EBSpatCGAL)
exportPattern("^[[:alpha:]]+")
export(
  "%<<%","%<<%.Scene",
  "[[","[[.Scene",
  "[[<-","[[<-.Scene",
  "[","[.Scene",
  "[<-","[<-.Scene",
  "[.TermType",

  .TermTypesInit,
  InteractionMngr,
  ComponentFunctionalFormulaManager
)
S3method("%<<%",Scene)
S3method("[[",Scene)
S3method("[[<-",Scene)
S3method("[",Scene)
S3method("[<-",Scene)
S3method("facets",Delaunay)

S3method("[",TermType)

import( Rcpp )
